<h1>Покупка товара</h1>

<section class="row text-center placeholders">
    <div class="col-10">
        <form>
            <div class="form-group">
                <label for="test-data">Сопуствующие данные</label>
                <textarea class="form-control" id="test-data" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</section>

<h2>Шаги</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Название
            </th>
            <th>
                Ожидаемый результат
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>
                Открыть форму регистрации
            </td>
            <td>
                Вылезает попап с полями
            </td>
            <td>
                <button type="button" class="btn btn-info">редактировать</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger">удалить</button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                Ввести данные
            </td>
            <td>
                Ошибки подсвечиваются
            </td>
            <td>
                <button type="button" class="btn btn-info">редактировать</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger">удалить</button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>
                Отправить форму
            </td>
            <td>
                Если ошибок нет, форма отправляется
            </td>
            <td>
                <button type="button" class="btn btn-info">редактировать</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger">удалить</button>
            </td>
        </tr>


        <tr>
            <td>#</td>
            <td>
                <form>
                    <div class="form-group">
                        <textarea class="form-control" id="newStepName" rows="2"></textarea>
                    </div>
                </form>
            </td>
            <td>
                <form>
                    <div class="form-group">
                        <textarea class="form-control" id="newStepResult" rows="2"></textarea>
                    </div>
                </form>
            </td>
            <td>
                <button type="button" class="btn btn-success">добавить</button>
            </td>
            <td>

            </td>
        </tr>

        </tbody>
    </table>
</div>