<h1>{{.Title}}
    <span class="small"><a href="running-list.html">просмотр прогонов</a></span>
</h1>

<h2>Оформление заказа</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>1</td>
            <td>
                <a href="case/">
                    Покупка товара с регистрацией
                </a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                <a href="case/">
                    Покупка товара анонимно
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="btn-add">
        <a href="case/" class="btn btn-success">Добавить кейс</a>
    </div>
</div>

<h2>Оформление заказа</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>1</td>
            <td>
                <a href="case/">
                    Покупка товара с регистрацией
                </a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                <a href="case/">
                    Покупка товара анонимно
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="btn-add">
        <a href="case/" class="btn btn-success">Добавить кейс</a>
    </div>
</div>

<br>
<div class="btn-add">
    <a href="running.html" class="btn btn-primary">Добавить группу</a>
</div>