<h1>Прогоны</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>1</td>
            <td>
                <a href="running.html">
                    Прогон 21.10.17
                </a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                <a href="running.html">
                    Прогон 25.10.17
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="btn-add">
        <a href="running.html" class="btn btn-success">Добавить</a>
    </div>
</div>