<h1>Покупка товара: прогон</h1>

<h2>Кейсы</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Название
            </th>
            <th>
                Пройден
            </th>
            <th>
                Не пройден
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>
                Покупка товара без регистрации
            </td>
            <td>
                <form>
                    <input type="radio" title="статус" class="dash-radio">
                </form>
            </td>
            <td>
                <form>
                    <input type="radio" title="статус" class="dash-radio">
                </form>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                Покупка товара с регистрацией
            </td>
            <td>
                <form>
                    <input type="radio" title="статус" class="dash-radio">
                </form>
            </td>
            <td>
                <form>
                    <input type="radio" title="статус" class="dash-radio">
                </form>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>
                Продажа токенов на ICO
            </td>
            <td>
                <form>
                    <input type="radio" title="статус" class="dash-radio">
                </form>
            </td>
            <td>
                <form>
                    <input type="radio" title="статус" class="dash-radio">
                </form>
            </td>
        </tr>

        </tbody>
    </table>
</div>